#ApplicationForArch {
  border-bottom: 4.7px solid rgb(255, 68, 31);
  overflow: hidden;
}
.wrapper {
  display: flex;
}
.left {
  width: 25%;
  padding-top: 70px;
}
.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.imgClass {
  height: 100%;
  width: 100%;
}
.titleClass {
  font-weight: 400;
  font-size: 43px;
  line-height: 43px;
  padding: 20px 0;
}
.description  > span{
  margin: 50px 0;
  font-size: 18px;
  font-weight: 300;
}

.contactsWrapper {
  display: flex;
  padding: 30px 10px;
  border-radius: 20px;
  align-items: center;
  border: 0;
  margin-bottom: 0px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 20px 70px;
}
.optionPhone {
  position: absolute !important;
  background: transparent !important;
  top: 10px !important;
  height: 30px !important;
  border: none !important;
}
.inputPhone {
  width: 100% !important;
  border: none !important;
  outline: none !important;
  height: 55px !important;
  font-family: 'Oswald', sans-serif !important;
  font-size: 16px !important;
  border-radius: 0px !important;
  color: rgba(0, 0, 0, 0.712) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.712) !important;
}
.inputName {
  width: 60%;
  padding: 15px;
  color: rgba(0, 0, 0, 0.712);
  border-bottom: 1px solid rgba(0, 0, 0, 0.712);
}
.optionPhone {
  color: black;
}
@media (max-width: 1200px) {
  .left {
    width: 45%;
  }
}
@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .left {
    padding-top: 0px;
    width: 190px;
    height: 485px;
  }
  .right {
    align-items: center;
  }
  .contactsWrapper {
    width: 100%;
    flex-direction: column;
    padding: 30px;
  }
  .inputName {
    width: 100%;
  }
  .inputPhone {
    width: 100% !important;
  }
  .titleClass {
    text-align: center;
  }
}
