.arrowContainer {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   /* border: 2px solid rgba(0, 0, 0, 0.404); */

   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: fixed;
   z-index: 100;
   background: transparent;
   right: 30px;
   bottom: 30px;
   /* filter: blur(5px); */
   /* transition: 0.5s !important; */
}
.arrow {
   width: 30px;
   height: 30px;
   margin-top: 15px;
   /* border-top: 6px solid rgba(0, 0, 0, 0.404);
   border-right: 6px solid rgba(0, 0, 0, 0.404); */

   transform: rotate(-45deg);
}
.arrowContainer:hover {
   transition: 0.7s !important;
   background: black;
   border: none;
}
@media screen and (max-width: 1400px) {
   .arrowContainer {
      width: 80px;
      height: 80px;
   }
}
@media screen and (max-width: 1200px) {
   .arrowContainer {
      width: 70px;
      height: 70px;
   }
   .arrow {
      width: 25px;
      height: 25px;
      /* border-top: 4px solid rgba(0, 0, 0, 0.404);
   border-right: 4px solid rgba(0, 0, 0, 0.404); */
   }
}
@media screen and (max-width: 992px) {
   .container {
      width: 720px;
   }
}
@media screen and (max-width: 768px) {
   .arrowContainer {
      right: 10px;
      bottom: 10px;
   }
}
