.linkContainer {
    text-align: center;
 }
 .linkContainer > * {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 18px;
    font-family: "Roboto";
 }
 .linkContainer > a {
    transition: 0.6s;
 }
 .linkContainer > a:hover {
    color: rgb(235 51 73);
 }
