.wrapper {
   display: flex;
   flex-direction: column;
   padding: 40px 0;
   align-items: flex-start;
}
.wrapper > p {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 20px;
}
.title {
   font-size: 30px;
   font-weight: 400;
   margin: 30px;
   text-transform: uppercase;
   font-weight: 300;
   text-align: center;
   align-self: center;
}
.pinkList {
   padding: 10px 10px;

   border-left: 4px solid rgb(235 51 73);
}
.pinkList > p {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
}
p > span {
   font-weight: 700;
   font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 576px) {
   .title {
      font-size: 30px;
   }
}
