.window {
   width: 250px;
   height: 100px;
   background: #fff;
   position: fixed;

   left: 20px;
   bottom: -100px;
   text-align: center;
   transition: 1s;
   pointer-events: none;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: 3px solid rgb(235 51 73);
   z-index: 1000;
}
.windowActive {
   bottom: 20px;
   pointer-events: all;
}
.text {
   color: black;
}
@media screen and (max-width: 576px) { 
.window {
   bottom: -70px;
   height: 70px;
}
.windowActive {
   bottom: 10px;
}
}