.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 23%;
  transition: 0.4s;
  cursor: pointer;
  height: 350px;
  background: #fff;
}
.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-size: 100%;
  transition: 0.5s;
}
.textContainer {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.link {
  color: rgb(235 51 73);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  text-decoration: underline !important;
  text-transform: none;
  font-family: 'Roboto';
  transition: 0.5s;
}
.link:hover {
  color: black;
}
.title {
  color: black;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  transition: 0.4s;
}
.title:hover {
  color: rgb(235 51 73);
}
.descriptionClass {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  font-family: 'Roboto';
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 6px 6px;
}
.activeImg {
  border: 12px solid red !important;
}
@media screen and (max-width: 1200px) {
  .card {
    width: 24%;
  }
}
@media screen and (max-width: 992px) {
  .card {
    width: 32%;
  }
  .descriptionClass {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 48%;
  }
  .descriptionClass {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .card {
    width: 100%;
    height: 370px;
  }

  .textContainer {
    gap: 5px;
    padding: 10px 20px 20px 20px;
  }
}
