#ourServices {
   background-color: #f0f0f0;

   padding: 80px 0px 100px 0px;
}
.title {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 58px;
}
.cardContainer {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
