#ourProjectsSection {
  padding: 200px 0px 100px 0px;
  background-color: #f0f0f0;
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  display: block;
  text-align: center;
  color: black;
}
.subtitle:hover {
  color: rgb(235 51 73);
  transition: 0.7s;
}
.title {
  color: black;
  font-size: 51px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 58px;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}
.cardContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cardTitle {
  font-size: 18px;
}
.customCard {
  width: 23%;
  height: 370px;
}


@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1200px) {
  .cardContainer {
    gap: 10px;
  }
  .customCard {
    width: 32%;
  }
  .fullWidthContainer {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .customCard {
    width: 49%;
  }
  .cardTitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .customCard {
    width: 100%;
  }
  .cardTitle {
    font-size: 18px;
  }
}
